*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
    
}
.calculator{
    display: flex;
    flex-direction: column;
    max-width: 35vw;
    min-width: fit-content;
    flex-grow: 1;
    min-height: fit-content;
    border: solid 2px gray;
    background-color: silver;
    flex-grow: 1;
    padding: 2vh 1vw;
    gap: 2vw;
    border-radius: 1vw;
    height: 90vh;
    justify-content: space-evenly;



}
.screen{

    min-width: 100px;
    max-height: 18vh;
    min-height: 100px;
    background: green;
    align-self: center;
    border-radius: .6vw;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.keys{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: .6vw;
}
.row1{
    justify-content: flex-start;
    padding-right: 2vw;
    padding-left: 2vw;
}
button{

    min-height: fit-content;
    min-width:  fit-content;
    border-radius: 1vw;
    font-size: 4vH;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    
}
.division{
    font-size: 6vw;
}

.keypad{
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    width: 5vw;
    display: flex;
    flex-direction: row-reverse;

}
.keypad button{
    background-color: #585a66;
}
button:hover{
    background-color: red;
}
#input{
    display: flex;
    font-size: 8vh;
    flex-wrap: wrap;
    /* this is necessary to allow text wrapping */
    word-break: break-all;
    width: fit-content;
    height: fit-content;
    
}
#output{
    display: none;
    flex-direction: row-reverse;
    align-self: flex-end;

    font-size: 7vh;

    
}

.light{
    width: 3vw;
    background-color: white;
    height: 2vh;
    align-self: flex-end;
    margin-right: 1vw;
    border-radius: .5vw;
}

@keyframes example {
    from {background-color: black;}
    to {background-color: green;}
  }

#cursor{
    animation-name:example ;
    animation-duration: 1s;
    animation-iteration-count:infinite ;
    height: 7vh;
    width: .2vw;
    margin-top: .3vw;
    margin-left: .1vw;
    display: inline-block;

}


.digit{
    height: fit-content;
    width: fit-content;
    display: inline-block
}
.clear{
    max-width: 60px;
}
.output-container{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    width: 100%;
}